*{
	padding: 0px;
	margin: 0px;
}
@font-face {
    font-family: FontSite;
    src: url(euphemia.ttf);
}
::selection { background: #00ABB5 }
::-moz-selection { background: #00ABB5; }
body{
	font-family: FontSite;
	background-image: url(../img/bgLines.png);
	background-repeat: repeat;
	color:#937963;
}
body,html, .capa{
	height: 100vh;
}
#numeros{
	text-align: center;
	margin-top: 30px;
	align-items: center;
	float: none;
	margin:0 auto;
}
#imgLogo{
	padding-right: 10px;
	padding-left: 10px;
}
.teste{
	display:inline-block;
   vertical-align: middle;
   float: none;
}

.numeroGrande{
	font-size: 72px;
	font-weight: bolder;
}
.subtituloGrande{
	font-size: 18px;
}
.imgMais{
	width: 60px;
	margin-top: 10px;
}
.capa{
	display: table;
	width: 100%;
	color: white;
	background-color: white;
	background-position: center;
	background-image: url('../img/bg.png'); 
	background-size: 500px;
}
.texto-capa{
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	background-repeat: no-repeat
}
.texto-capa img{
	width: 800px;
}
#dataEvento{
	font-size: 65px;
	margin-bottom: -20px;
	color: #008188;
}
#naoFiqueDeFora{
	font-size: 70px;
	font-weight: 900;
	color: #18A6AA;
}
.titulosSessao{
	font-weight: bolder;
}
#hubRet{
	background-color: #E96F2D;
	padding: 20px;
	color: white;
}
#arduinoDayRet{
	background-color: #EDA916;
	padding: 20px;
	color: white;
	margin-bottom: 30px;
}
footer{
	/*/text-align: center;*/
	padding-top: 30px;
	padding-bottom: 10px;
	color: white;
	background-color: #00878F;
	/*margin-top: 10px;*/
}
footer a{
	color: black;
}
footer a:hover{
	color: black;
}
table{
	margin-top: 20px;
	background-color: white;
	color: black;
	/*text-align: center;*/
	/*text-transform: uppercase;*/
	width: 100%;
	height: 100%;
}
/*.table>tbody>tr>td{
    vertical-align:middle;
    width: 200px;
}
.table>tbody>tr>th{
	vertical-align: middle;
	font-size: 20px;
}
th{
	text-align: right;
	font-size: 15px;
}*/
tr{
	text-align: center;
	color: white;
}
th{
	text-align: center;
	border: none;
	color: #008188;
}
tbody > tr{
	background-color: #008188;
}
.fundoMarrom{
	background-color: #937963;
	color: white;
}
.fundoAmarelo{
	color: white;
	background-color: #EDA916;
}
.fundoLaranja{
	color: white;
	background-color: #E96F2D;
}
.table{
	background-color: transparent;
}
#titulo-td{
	font-size: 20px;
}
#chamadas-atividades{
	background-image: url("../img/elementsplus.png");
	background-repeat: no-repeat;
	background-position: right;
	background-size: 150px;
	margin-top: 50px;
}
#atividades{
	background-image: url("../img/elementsplusplus.png");
	background-repeat: no-repeat;
	background-position: left;
	background-size: 100px;
}
#sobre{
	background-image: url("../img/trian.png");
	background-repeat: no-repeat;
	background-position: right;
	background-size: 150px;
}
#programacao{
	margin-top: 30px;
	background-image: url("../img/bg.png");
	background-position: center;
	background-size: 1000px;
}
#logos{
	width: 100px;
	float: right;
}
#btnVoluntarios{
	background-color: #E47128;
	color: white;
	border:none;
	text-transform: uppercase;
	padding: 15px;
	font-size: 16px;
	font-weight: bold;
	margin: 20px;
}
#btnAtividades{
	background-color: #E5AD24;
	color: white;
	border:none;
	text-transform: uppercase;
	padding: 15px;
	font-size: 16px;
	font-weight: bold;
	margin: 20px;
}
#btnAtividades:hover{
	background-color: #E47128;
}
.topico{
	font-size: 25px;
}
tbody tr th{
	width: 10px;
}
#atividades{
	margin-top: 30px;
}

.titulos{
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
}

.perfil{
	width: 360px;
}
#convidados{
	background-color: #cf2766;
	padding-bottom: 40px;
	color: white;
}
.linha{
	margin-bottom: 30px;
}
.descri-perfil{
	font-size: 15px;
}
.mediador{
	font-size: 13px;
}
.titulo-palestra{
	text-transform: uppercase;
}
.alinhar-direita{
	text-align: right;
}
.alinhar-esquerda{
	text-align: left;
}
.icones{
	width: 25px;
	display: inline-block;
}

footer a{
	color: white;
}
.carousel-indicators{
	bottom: 5px;
}

.imgRedonda{
	margin-top: -60px;
	display: inline;
}



.containerr {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #796452;
  border-radius: 50%;
}

.containerr:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}


